NEXT_PUBLIC_GA_ID="UA-210303881-1"
NEXT_PUBLIC_CONNECTION_NETWORK="devnet"
NEXT_PUBLIC_SOLANA_RPC_HOST_MAINNET_BETA="https://ssc-dao.genesysgo.net/"
NEXT_PUBLIC_SOLANA_RPC_HOST_DEVNET="https://devnet.genesysgo.net/"
NEXT_PUBLIC_ASSOCIATED_CREATORS=9mMwhmMVQaQYZk1nJhNt96zftvUKGLnvUk6u9ZhX6JJs,HqxWMJng9oAMumFhvt3ms1hHjEMM7oEiBLjfQDixGdPy,Gis7UsMUxR4kHBWCSjxJtgKt2zejr16zkrFdPJiuF2ra,96vJUPfDTfBWWkLDsdSHUqkDre8iADhqpsF1K9TKqRaL,2VbN1xZXMr1DtmTD1Q8a8PjbSDq2Rg8AnZVanqRYzoZB,A4rB4iCdmdxKYzoBxh1oMpJ8e8oEW265h44CdZZDNZYU,yEY1Zxc5CPh4WWDUTp5W7HKj2j4NnGVixcMqHrqjJhK,A9Xi2FkfhRru26eLaoJU2EtDfUFXScEMNYEvGEDEqkPw,GBsCoGpojTqJeC29NdEYj7aZnaU2uXTZYiqm1y2EuZ1b,HPBqN8c1mTMEKELA5WVVinPMan1btWuDGQSt3jYk6SSg